In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import plotly.express as px
import pytz
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [2]:
df = pd.read_csv('E:/InSAR/DS_Projects/Beijing_CO_analysis/Data/CO_hourly_average.csv')

In [3]:
df.head()

         Date and Time  Average of CO(Hourly Average)
0  2004-03-10 18:00:00                            2.6
1  2004-03-10 19:00:00                            2.0
2  2004-03-10 20:00:00                            2.2
3  2004-03-10 21:00:00                            2.2
4  2004-03-10 22:00:00                            1.6

In [19]:
df.shape

(9357, 2)

In [12]:
print(df.columns)

Index(['Date and Time', 'Average of CO(Hourly Average)'], dtype='object')

In [7]:
def wrangle(df):
    df = df.rename(columns={'Date and Time': 'timestamp', 'Average of CO(Hourly Average)': 'CO'})  # rename the columns of the data
    df['timestamp'] = pd.to_datetime(df['timestamp'])  #convert to datetime
    df = df.set_index('timestamp') #set the index to 'timestamp'
    df.index = df.index.tz_localize("UTC").tz_convert("Asia/Shanghai")  # localize to UTC and set the time zone
    
    
    
    return df

In [13]:
data = wrangle(df)
data.head(10)

                            CO
timestamp
2004-03-11 02:00:00+08:00  2.6
2004-03-11 03:00:00+08:00  2.0
2004-03-11 04:00:00+08:00  2.2
2004-03-11 05:00:00+08:00  2.2
2004-03-11 06:00:00+08:00  1.6
2004-03-11 07:00:00+08:00  1.2
2004-03-11 08:00:00+08:00  1.2
2004-03-11 09:00:00+08:00  1.0
2004-03-11 10:00:00+08:00  0.9
2004-03-11 11:00:00+08:00  0.6