In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import plotly.express as px
import pytz
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [16]:
df = pd.read_csv('E:/InSAR/DS_Projects/Beijing_CO_analysis/Data/CO_hourly_average.csv')

In [17]:
df = df.rename(columns ={'Date and time':'timestamp', 'Average of CO(Hourly Average)': 'CO'})

In [18]:
df.head()

         Date and Time   CO
0  2004-03-10 18:00:00  2.6
1  2004-03-10 19:00:00  2.0
2  2004-03-10 20:00:00  2.2
3  2004-03-10 21:00:00  2.2
4  2004-03-10 22:00:00  1.6

In [19]:
df.shape

(9357, 2)

In [22]:
df = df.rename(columns={'Date and Time':'timestamp'})

In [23]:
df.head()

             timestamp   CO
0  2004-03-10 18:00:00  2.6
1  2004-03-10 19:00:00  2.0
2  2004-03-10 20:00:00  2.2
3  2004-03-10 21:00:00  2.2
4  2004-03-10 22:00:00  1.6

In [25]:
df = df.set_index('timestamp')

In [26]:
df.head()

                      CO
timestamp
2004-03-10 18:00:00  2.6
2004-03-10 19:00:00  2.0
2004-03-10 20:00:00  2.2
2004-03-10 21:00:00  2.2
2004-03-10 22:00:00  1.6