In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import plotly.express as px
import pytz
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [2]:
df = pd.read_csv('E:/InSAR/DS_Projects/Beijing_CO_analysis/Data/CO_hourly_average.csv')

In [3]:
df = df.rename(columns ={'Date and time':'timestamp', 'Average of CO(Hourly Average)': 'CO'})

In [4]:
df.head()

         Date and Time   CO
0  2004-03-10 18:00:00  2.6
1  2004-03-10 19:00:00  2.0
2  2004-03-10 20:00:00  2.2
3  2004-03-10 21:00:00  2.2
4  2004-03-10 22:00:00  1.6

In [5]:
df.shape

(9357, 2)

In [6]:
df = df.rename(columns={'Date and Time':'timestamp'})

In [7]:
df.head()

             timestamp   CO
0  2004-03-10 18:00:00  2.6
1  2004-03-10 19:00:00  2.0
2  2004-03-10 20:00:00  2.2
3  2004-03-10 21:00:00  2.2
4  2004-03-10 22:00:00  1.6

In [8]:
df = df.set_index('timestamp')

In [9]:
df.head()

                      CO
timestamp
2004-03-10 18:00:00  2.6
2004-03-10 19:00:00  2.0
2004-03-10 20:00:00  2.2
2004-03-10 21:00:00  2.2
2004-03-10 22:00:00  1.6

In [13]:
df.index.tz_localize("UTC").tz_convert("Asia/Shanghai")

AttributeError: 'Index' object has no attribute 'tz_localize'

In [12]:
df

                      CO
timestamp
2004-03-10 18:00:00  2.6
2004-03-10 19:00:00  2.0
2004-03-10 20:00:00  2.2
2004-03-10 21:00:00  2.2
2004-03-10 22:00:00  1.6
...                  ...
2005-04-04 10:00:00  3.1
2005-04-04 11:00:00  2.4
2005-04-04 12:00:00  2.4
2005-04-04 13:00:00  2.1
2005-04-04 14:00:00  2.2

[9357 rows x 1 columns]